@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body {
    overflow: hidden;
 }
  
 a {
    color: inherit;
 }

 /* -------------- menu div / button -------------- */
 
.menu-div {
    text-align: center;
    font-family: "Lato", sans-serif;
   --primary: #102038;
   --shadow: #0e0e0e;
   width: 160px; 
   padding: 30px;
   border-radius: 42px;
   background: var(--primary);
   box-shadow: 0 9px 11px -3px var(--shadow);
   margin: auto;
   top: 93%;
   left: 0;
   right: 0;
   position: absolute;
   opacity: 95%;
} 

.menu {
   margin: auto;
   position: absolute;
   bottom: -2%;
   left: 0;
   right: 0;
   width: 70px;
/*    height: 56px; */
   height: 46px;
   text-align: center;
   box-sizing: border-box;
   font-size: 25px;
}
 
 .menu-item,
 .menu-open-button {
    background: #FFFFFF;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    margin-left: -25px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
 }

.menu-item {
   width: 50px;
   height: 50px;
}

 /* -------------- main menu button -------------- */
 
 .menu-open {
    display: none;
 }
 
 .lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
 }
 
 .line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
 }
 
 .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
 
 .line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
 }
 
 .menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
 }
 
 .menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
 }
 
 .menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
 }
 
 /* -------------- menu buttons -------------- */

 #icon {
    position: relative;
    top: -12px;
    font-size: 24px;
 }

 #icon:hover {
    transform: scale(1.3, 1.3);
 }
 
 .menu-item:nth-child(3) .menu-item:nth-child(4)  .menu-item:nth-child(5) .menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
  
 .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
/*     transform: scale(1.2, 1.2) translate3d(0, 0, 0); */
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
 }
 
 .menu-open-button:hover {
    transform: scale(1.3, 1.3) translate3d(0, 0, 0);
 }
 
 .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
 }
 
 .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(3) {
    transform: translate3d(70px, 0px, 0);
 }

 .menu-open:checked ~ .menu-item:nth-child(4) {
    transform: translate3d(145px, 0px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(5) {
    transform: translate3d(-70px, 0px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(6) {
    transform: translate3d(-145px, 0px, 0);
 }
 
 /* -------------- menu button styling -------------- */
.menu-item:hover {
   background: #EEEEEE;
}

 .blue {
    background-color: #5274a7;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .blue:hover {
    color: #5587d3;
    text-shadow: none;
 }
 
/* -------------- floating -------------- */
.floating {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 5px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 5px);}
    to {-moz-transform: translate(0, -0px);}    
}

/* -------------- Tooltips -------------- */

.tooltip {
   display: block;
   position: absolute;
   top: 60px;
   left: 50%;
   border-radius: 40px;
   font-size: 0.8rem;
   font-weight: bold;
   opacity: 0;
   pointer-events: none;
   text-transform: uppercase;
   transform: translate(-50%, -100%);
   transition: all 0.3s ease;
   z-index: 1;
   color: whitesmoke;
}

.menu-item:hover .tooltip {
   visibility: visible;
   opacity: 1;
   transform: translate(-50%, -150%);
}

/* -------------- Input -------------- */
.input_text input {
   line-height: 25px;
   padding: 8px 19px;
   border: 0;
   border-radius: 34px;
   background: #f9f9f9;
   display: block;
   color: #5e5e5e;
   font-size: 18px;
   outline: none;
   width: 260px;
   margin-left: -150px;
   margin-top: 7px;
   font-weight: 400;
}

.input_text input::placeholder {
   color: rgba(#fff, .4);
   opacity: 1;
}

.input_text {
   visibility: hidden;
}

/* -------------- info -------------- */
#info {
   outline: none;
   width: 434px;
   margin-left: -200px;
   margin-top: -60px;
   z-index: 0;
   visibility: hidden;
   cursor: pointer;
}

#info a {
   text-decoration: none;
}

#info p {
    font-size: 24px;
    color: white;   
    margin-top: 20px !important;
}

/* -------------- reactions -------------- */
.reactions {
   visibility: hidden;
   position: absolute;
   left: 90%;
   bottom: 25%;
   font-size: 45px;
   text-align: center;
}

#reaction-icon {
/*    color: rgb(90, 90, 90); */
    color: white;
}

#reaction-name {
    margin-top: 5px;
    font-size: 20px;
    color: whitesmoke;
    text-shadow: rgb(46, 46, 46);
}

/* -------------- inputs -------------- */

input[type=date]:focus,input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,select:focus,textarea:focus {
    box-shadow: -1px 0 0 #fff,-7px 0 0 #ffffff00;
    background: #fffbf4!important
}


/* -------------- Popup message -------------- */
#UINotify {
   background-color: #10203880 !important;
   font-size: 27px;
}

#UINotify>div .info p {
   color: white !important;
}

#UINotify>div {
   padding: 0px !important;
}

#close-notify {
   color: transparent !important;
}